<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicall.module.doctor.mapper.DoctorMapper">
    <select id="findByUsername" resultType="com.aicall.module.doctor.entity.Doctor">
        SELECT * FROM doctor WHERE username = #{username}
    </select>
    <select id="findById" resultType="com.aicall.module.doctor.entity.Doctor">
        SELECT id, username, password, name, title, department, phone, avatar, introduction, status
        FROM doctor WHERE id = #{id}
    </select>
</mapper>
