<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicall.module.live.mapper.LiveSubtitleMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO live_subtitle (room_id, user_id, user_name, content)
        VALUES (#{roomId}, #{userId}, #{userName}, #{content})
    </insert>

    <select id="findByRoomId" resultType="com.aicall.module.live.entity.LiveSubtitle">
        SELECT * FROM live_subtitle WHERE room_id = #{roomId} ORDER BY create_time ASC
    </select>
</mapper>
