<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicall.module.live.mapper.LiveRecordingMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO live_recording (room_id, file_url, file_size, duration)
        VALUES (#{roomId}, #{fileUrl}, #{fileSize}, #{duration})
    </insert>

    <select id="findByRoomId" resultType="com.aicall.module.live.entity.LiveRecording">
        SELECT * FROM live_recording WHERE room_id = #{roomId} ORDER BY create_time DESC
    </select>
</mapper>
